@use 'variables';
@use 'inicial';
@use 'mixins';

.header_title{
    //border: 1px solid red;
    text-align: center;
    color: variables.$Dark-grayish-cyan;
    margin: 30px 0;
    letter-spacing:8px ;

}
.calculator-container{
    background-color: variables.$White;
    width: 375px;
    margin: auto;
    border-radius: 16px;
    padding: 32px;

}
.inputs-section__bill-label{

@include mixins.label;
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%)
}                                                                                                                                                       