@use 'variables';
@use 'inicial';

.header_title{
    border: 1px solid red;
    width: 300px;
    margin: auto;

}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%)
}